@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  background-color: brown;
}

h1{
  font-size: 5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: wheat;
  font-family: 'Montserrat', sans-serif;
}

input{
  padding: 7px;
  border: none;
}

.todo-form{
  display: inline;
}

button{
  border: none;
  background-color: white;
}

i{
  color: gray;
  cursor: pointer;
}

.container{
  text-align: center;
  display: flex;
  justify-content: center;
}

.todos{
  max-width: 500px;
}

li{
  font-size: large;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  background-color: white;
  margin: 15px;
  padding: 5px;
  border-radius: 15px;
  word-wrap: break-word;
}
